@import '../../styles/colors';

.card-item {
  padding: 24px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.03);
  transition: 500ms ease;

  &:hover {
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.05); 
  }

  .check-list {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;

    .check-list-checked {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        background-color: $color-main-green;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 800;
    margin-right: 2rem;
    width: 15%;
    word-wrap: break-word;
  }

  &-text {
    font-size: 16px;
    font-weight: 800;
    margin-right: 2.5rem;

    &.type {
        color: $color-main-yellow;
        width: 15%;
        word-wrap: break-word;
        margin-right: 1.5rem;
    }

    &.date {
        color: $color-main-green;
    }

    &.edit {
        color: $color-main-purple;
        cursor: pointer;
    }

    &.remove {
        color: $color-flower-red;
        cursor: pointer;
    }
  }
}
