$color-main-black: #252A3C;
$color-main-gray: #8189A2;
$color-main-purple: #6F32D2;

$color-secondary-gray: #DFDFDF;
$color-border-gray: #DFE5EE;
$color-blueish-gray: #F6F8FC;
$color-hovered-gray: #FBFAFF;
$color-flower-red: #e84118;