.duration {
  .title {
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: 600;
  }

  .input-duration {
    display: flex;

    &-wrap {
      input {
        width: 60px;
      }
    }
  }
}